<nav class="navbar custom-navbar">

    <div class="container-fluid px-4">

        <a class="navbar-brand" href="{{ url_for('workspace.workspace_page') }}">

            <span class="brand-title">
                MECHLLIGENT
            </span>

            <span class="brand-subtitle">
                Dataset Management System
            </span>

        </a>

        <div class="user-chip">

            <div class="user-avatar">
                {{ session["full_name"][0] }}
            </div>

            <div class="user-info">

                <span class="user-name">
                    {{ session["full_name"] }}
                </span>

                <small>Logged In</small>

            </div>

            <a href="{{ url_for('auth.logout') }}"
               class="logout-btn">

                Logout

            </a>

        </div>

    </div>

</nav>