{% extends "base.html" %}

{% block content %}

{% include "includes/navbar.html" %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body">

            <h3>Create New Project</h3>

            <hr>

            <form method="POST">

                <div class="mb-3">

                    <label class="form-label">Project Name</label>

                    <input
                        type="text"
                        class="form-control"
                        name="project_name"
                        required>

                </div>

                <div class="mb-3">

                    <label class="form-label">Description</label>

                    <textarea
                        class="form-control"
                        rows="3"
                        name="description"></textarea>

                </div>

                <button
                    type="submit"
                    class="btn btn-primary">

                    Create Project

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}