{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">

        Workspace

    </h2>

    <div class="row mt-4">

    <div class="col-md-4">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6>Total Projects</h6>

                <h2>{{ total_projects }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6>In Progress</h6>

                <h2>{{ active_projects }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6>Completed</h6>

                <h2>{{ completed_projects }}</h2>

            </div>

        </div>

    </div>

</div>


        <div class="alert alert-info mt-4">

                    <div class="row mt-4">

                {% for project in projects %}

                <div class="col-md-4 mb-4">

                    <div class="card shadow-sm h-100">

                        <div class="card-body">

                            <h5 class="card-title">

                                {{ project.project_name }}

                            </h5>

                            <p class="text-muted">

                                {{ project.description }}

                            </p>

                            <span class="badge bg-primary">

                                {{ project.status }}

                            </span>

                            <hr>

                            <a
                                href="{{ url_for('project.project_dashboard', project_id=project.id) }}"
                                class="btn btn-primary w-100">

                                Open Project

                            </a>

                        </div>

                    </div>

                </div>

                {% endfor %}

            </div>

        </div>

    </div>

</div>

{% endblock %}